<%= form_with(model: comment, url: post_comments_path, local: true) do |form| %>
  <%= render 'shared/errors', model: comment %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :comment_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
